<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoticeBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-glyphicons.css">
    <link href="http://fonts.googleapis.com/css?family=Marck+Script&amp;subset=latin,cyrillic"
          rel="stylesheet"
          type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NoticeBoard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Notices", "Index", "Notices", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#loginModal">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">


            <!-- LOGIN MODAL-->

            <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">

                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span> Login Now!</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="Login-Form" role="form">
                                @using (Html.BeginForm("Create", "Users", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                            @Html.TextBox("Email", "", new { name = "email", id = "email", type = "email", @class = "form-control input-lg", placeholder = "Enter Email" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                            @Html.TextBox("Password", "", new { name = "password", id = "login-password", type = "password", @class = "form-control input-lg", placeholder = "Enter Password" })
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block btn-lg">LOGIN</button>
                                }
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>



            <!--  REGISTER MODAL -->


            <div class="modal fade" tabindex="-1" role="dialog" id="signupModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span> Signup Now!</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="Signin-Form" role="form" asp-controller="Users" asp-action="Create">
                                @using (Html.BeginForm("Create", "User", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                            @Html.TextBox("Name", "", new { name = "name", id = "name", type = "text", @class = "form-control input-lg", placeholder = "Enter Name" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                            @Html.TextBox("Surname", "", new { name = "surname", id = "surname", type = "text", @class = "form-control input-lg", placeholder = "Enter Surname" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
                                            @Html.TextBox("Telefone", "", new { name = "phonenumber", id = "phonenumber", type = "text", @class = "form-control input-lg", placeholder = "Enter phonenumber" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                            @Html.TextBox("Password", "", new { name = "password", id = "password", type = "password", @class = "form-control input-lg", placeholder = "Enter password" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                            <input name="password" id="confirm-passwd" type="password" class="form-control input-lg" placeholder="Retype Password" required data-parsley-equalto="#passwd" data-parsley-trigger="keyup">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block btn-lg" value="Create" id="creatbtn">CREATE ACCOUNT!</button>
                                }
                            </form>
                        </div>
                        <div class="modal-footer">
                            <!-- Футер Signup -->

                        </div>
                    </div>
                </div>
            </div>





            @RenderBody()


        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - NoticeBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
