@model IEnumerable<Entities.Model.User>

@{
    ViewData["Title"] = "Users";
}

<div>
    <a style="color: #f4511e;" asp-action="Create"><h1 class="glyphicon glyphicon-plus"></h1></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @if (item.Admin == 0 || item.Admin == null)
                {<a asp-action="SetAdminRole" asp-route-id="@item.Id">Give admin role</a> }
                else
                {
                    <a asp-action="DeleteFromAdmin" asp-route-id="@item.Id">Delete from admin</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
